{% for item in site.nav %}
	<div class="header">
    {% case condition %}
      {% when item.url %}
        <a href="{{item.url}}" target="{%if item.target == 'blank' %}_blank{% endif %}">{{ item.title }}</a>
      {% when item.path %}
        <a href="{{ site.baseurl }}{{ item.path }}" target="{%if item.target == 'blank' %}_blank{% endif %}">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
    {% endcase %}
	</div>
	<nav class="nav flex-column">
    {% if item.subnav %}
      {% include nav.html nav=item.subnav %}
    {% endif %}
  {% endfor %}
</nav>
