{% for item in site.nav %}
	<div class="header">
    {% case item.type %}
      {% when 'url' %}
        <a href="{{item.url}}" target="{%if item.target == 'blank' %}_blank{% endif %}">{{ item.title }}1</a>
      {% when'path' %}
        <a href="{{ site.baseurl }}{{ item.path }}" target="{%if item.target == 'blank' %}_blank{% endif %}">{{ item.title }}2</a>
      {% else %}
        {{ item.title }}3
    {% endcase %}
	</div>
	<nav class="nav flex-column">
    {% if item.subnav %}
      {% include nav.html nav=item.subnav %}
    {% endif %}
  {% endfor %}
</nav>
