<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
<!--        <a class="nav-link" href="https://vng-realisatie.github.io/Haal-Centraal/">Home <span class="sr-only">(current)</span></a>
Bovenstaande regel even uitgesterd omdat de Home knop nu een link naar Haal-Centraal Home opleverde. Moet nog een keer goed geregeld worden. -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Imvertor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Imvertor SAAS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Algemene Imvertor documentatie</a>
          <a class="dropdown-item" href="">Kadaster documentatie</a>
          <a class="dropdown-item" href="">Geonovum documentatie</a>
          <a class="dropdown-item" href="">VNG-Realisatie  documentatie</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Hoe kun je aansluiten?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://melsk-r.github.io/Imvertor-algemeen/contact">Contact</a>
      </li>
<!--      <li class="nav-item">
        <a class="nav-link" href="https://vng-realisatie.github.io/Haal-Centraal/planning">Planning</a>
      </li> -->
    </ul>
</div>
